alabaster==0.7.12
asgiref==3.5.0
astroid==2.11.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.9.1
bandit==1.7.4
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
codecov==2.1.12
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.2
dill==0.3.4
distlib==0.3.4
Django==4.0.7
django-filter==21.1
docutils==0.17.1
dparse==0.5.1
filelock==3.6.0
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.1.1
keyring==23.5.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
mypy==0.942
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pbr==5.8.1
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
Pygments==2.11.2
pyinstrument==4.1.1
pylint==2.13.4
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.0.1
safety==1.10.3
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
stevedore==3.5.0
toml==0.10.2
tomli==2.0.1
tox==3.24.5
twine==4.0.0
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.0
webencodings==0.5.1
wrapt==1.14.0
zipp==3.7.0
