asgiref==3.2.7
astroid==2.4.1
atomicwrites==1.4.0
attrs==19.3.0
bandit==1.6.2
bleach==3.1.5
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
codecov==2.1.0
colorama==0.4.3
coverage==5.1
Django==3.0.6
django-filter==2.2.0
docutils==0.16
dparse==0.5.1
gitdb==4.0.5
GitPython==3.1.2
idna==2.9
isort==4.3.21
keyring==21.2.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.3.0
mypy==0.770
mypy-extensions==0.4.3
packaging==20.4
pbr==5.4.5
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pydocstyle==5.0.2
Pygments==2.6.1
pylint==2.5.2
pyparsing==2.4.7
pytest==5.4.2
pytest-cov==2.8.1
pytest-django==3.9.0
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
safety==1.9.0
six==1.14.0
smmap==3.0.4
snowballstemmer==2.0.0
sqlparse==0.3.1
stevedore==1.32.0
toml==0.10.1
tqdm==4.46.0
twine==3.1.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
wrapt==1.12.1
