
# Django
django
django-filter

# Linters for Development
bandit
pycodestyle
pydocstyle # !!! DISCONTINUED in favour of "ruff" (https://github.com/PyCQA/pydocstyle/pull/658)
pylint
mypy

# Testing tools
codecov # !!! DISCONTINUED in favour of "codecov-cli" (https://about.codecov.io/blog/message-regarding-the-pypi-package/)
psycopg[binary,pool]
pytest
pytest-cov
pytest-django
pip-audit
tox

# Documentation
sphinx
sphinx-rtd-theme

# Packaging
twine
build

# Misc
pandas
pyinstrument
