# Linters for Development
bandit
pycodestyle
pydocstyle
pylint
mypy

# Django
django
django-filter

# Testing tools
pytest
pytest-cov
pytest-django
codecov
safety

# Documentation
sphinx

# Packaging
twine
wheel

