
{% extends "base.html" %}

{% block main_title %}
    {% load customtags %}
    <h1>Database: {{ null | db_provider }} - {{ filter | to_class_name }}</h1>
{% endblock main_title %}

{% block content %}

    {% block query_data %}
    <h1>Data - {{ filter.qs|length }} items</h1>

    <div class="row">
        {% for obj in filter.qs %}
        <div class="col-md-3 border border-dark">{{ obj }}</div>
            <!-- if last column in row -->
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
    {% endblock query_data %}

    {% block query_filter %}
    <h1>Filter</h1>

    <form action="" method="get">
        <input type="submit" />

        <h1>{{ filter.form.errors }}</h1>

        <div class="row">
            {% for filt in filter.form %}
            <div class="col-md-2 border border-dark">{{ filt.label }}{{ filt }}</div>
                <!-- if last column in row -->
                {% if forloop.counter|divisibleby:"6" and not forloop.last %}
                </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </form>
    {% endblock query_filter %}

{% endblock %}
