
{% extends "base.html" %}

{% block content %}

    <p><a href="{% url 'booleanclass_list' %}">+ (Property)BooleanFilter</a></p>
    <p><a href="{% url 'charclass_list' %}">+ (Property)CharFilter</a></p>
    <p><a href="{% url 'dateclass_list' %}">+ (Property)DateFilter</a></p>
    <p><a href="{% url 'datefromtorangeclass_list' %}">+ (Property)DateFromToRangeFilter</a></p>
    <p><a href="{% url 'datetimeclass_list' %}">+ (Property)DateTimeFilter</a></p>
    <p><a href="{% url 'durationclass_list' %}">+ (Property)DurationFilter</a></p>
    <p><a href="{% url 'numberclass_list' %}">+ (Property)NumberFilter</a></p>
    <p><a href="{% url 'numberclassrange_list' %}">+ (Property)RangeFilter</a></p>
    <p><a href="{% url 'timeclass_list' %}">+ (Property)TimeFilter</a></p>
    <p><a href="{% url 'timeclassrange_list' %}">+ (Property)TimeRangeFilter</a></p>

{% endblock %}
