
{% extends "base.html" %}

{% block content %}

    <p><a href="{% url 'boolean_filter' %}">+ (Property)BooleanFilter</a></p>
    <p><a href="{% url 'char_filter' %}">+ (Property)CharFilter</a></p>
    <p><a href="{% url 'date_filter' %}">+ (Property)DateFilter</a></p>
    <p><a href="{% url 'date_from_to_range_filter' %}">+ (Property)DateFromToRangeFilter</a></p>
    <p><a href="{% url 'date_time_filter' %}">+ (Property)DateTimeFilter</a></p>
    <p><a href="{% url 'duration_filter' %}">+ (Property)DurationFilter</a></p>
    <p><a href="{% url 'numberclass_list' %}">+ (Property)NumberFilter</a></p>
    <p><a href="{% url 'numberclassrange_list' %}">+ (Property)RangeFilter</a></p>
    <p><a href="{% url 'timeclass_list' %}">+ (Property)TimeFilter</a></p>
    <p><a href="{% url 'timeclassrange_list' %}">+ (Property)TimeRangeFilter</a></p>

{% endblock %}
