
<p><a href="{% url 'boolean_filter' %}">+ (Property)BooleanFilter</a></p>
<p><a href="{% url 'char_filter' %}">+ (Property)CharFilter</a></p>
<p><a href="{% url 'date_filter' %}">+ (Property)DateFilter</a></p>
<p><a href="{% url 'date_from_to_range_filter' %}">+ (Property)DateFromToRangeFilter</a></p>
<p><a href="{% url 'date_time_filter' %}">+ (Property)DateTimeFilter</a></p>
<p><a href="{% url 'date_time_from_to_range_filter' %}">+ (Property)DateTimeFromToRangeFilter</a></p>
<p><a href="{% url 'duration_filter' %}">+ (Property)DurationFilter</a></p>
<p><a href="{% url 'number_filter' %}">+ (Property)NumberFilter</a></p>
<p><a href="{% url 'range_filter' %}">+ (Property)RangeFilter</a></p>
<p><a href="{% url 'time_filter' %}">+ (Property)TimeFilter</a></p>
<p><a href="{% url 'time_range_filter' %}">+ (Property)TimeRangeFilter</a></p>
