
<li><a href="{% url 'all_values_filter' %}">AllValuesFilter</a></li>
<li><a href="{% url 'all_values_multiple_filter' %}">AllValuesMultipleFilterView</a></li>
<li><a href="{% url 'base_csv_filter' %}">BaseCSVFilter</a></li>
<li><a href="{% url 'base_in_filter' %}">BaseInFilter</a></li>
<li><a href="{% url 'base_range_filter' %}">BaseRangeFilter</a></li>
<li><a href="{% url 'boolean_filter' %}">BooleanFilter</a></li>
<li><a href="{% url 'char_filter' %}">CharFilter</a></li>
<li><a href="{% url 'choice_filter' %}">ChoiceFilter</a></li>
<li><a href="{% url 'date_filter' %}">DateFilter</a></li>
<li><a href="{% url 'date_from_to_range_filter' %}">DateFromToRangeFilter</a></li>
<li><a href="{% url 'date_range_filter' %}">DateRangeFilter</a></li>
<li><a href="{% url 'date_time_filter' %}">DateTimeFilter</a></li>
<li><a href="{% url 'date_time_from_to_range_filter' %}">DateTimeFromToRangeFilter</a></li>
<li><a href="{% url 'duration_filter' %}">DurationFilter</a></li>
<li><a href="{% url 'iso_date_time_filter' %}">IsoDateTimeFilter</a></li>
<li><a href="{% url 'iso_date_time_from_to_range_filter' %}">IsoDateTimeFromToRangeFilter</a></li>
<li><a href="{% url 'lookup_choice_filter' %}">LookupChoiceFilter</a></li>
<li><a href="{% url 'model_choice_filter' %}">ModelChoiceFilter (No Property)</a></li>
<li><a href="{% url 'model_multiple_choice_filter' %}">ModelMultipleChoiceFilter</a></li>
<li><a href="{% url 'multiple_choice_filter' %}">MultipleChoiceFilter</a></li>
<li><a href="{% url 'number_filter' %}">NumberFilter</a></li>
<li><a href="{% url 'numeric_range_filter' %}">NumericRangeFilter</a></li>
<li><a href="{% url 'ordering_filter' %}">OrderingFilter</a></li>
<li><a href="{% url 'range_filter' %}">RangeFilter</a></li>
<li><a href="{% url 'time_filter' %}">TimeFilter</a></li>
<li><a href="{% url 'time_range_filter' %}">TimeRangeFilter</a></li>
<li><a href="{% url 'typed_choice_filter' %}">TypedChoiceFilter</a></li>
<li><a href="{% url 'typed_mutiple_choice_filter' %}">TypedMultipleChoiceFilter</a></li>
<li><a href="{% url 'uuid_filter' %}">UUIDFilter</a></li>

<br>
<li><a href="{% url 'boolean_choice_test' %}">BooleanChoicesTest</a></li>
<li><a href="{% url 'multi_filter_test' %}">MultiFilterTest</a></li>
<li><a href="{% url 'volume_test' %}">VolumeTest</a></li>
